.biodata-form-wrapper {
  display: flex;
  column-gap: 16px;
  margin: 0 40px;
  @media screen and (max-width: 480px) {
    // padding: 0 4px;
    width: 100vw;
    margin: 0;
  }
  width: 100vw;
  height: 100vh;
  .biodata-fields-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    width: 65%;
    @media screen and (max-width: 480px) {
      width: 100%;
      padding: 0 16px;
    }
    overflow-y: auto;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    .biodata-field-title {
      font-weight: 700;
      font-size: 1.8rem;
      margin-bottom: 1rem;
      color: var(--poseidon);
    }
    .add-field-btn {
      width: fit-content;
      background: var(--white);
      padding: 0.2rem 1.5rem;
      font-size: 1rem;
      line-height: 31px;
      color: #006f80;
      border-radius: 28px;
      white-space: nowrap;
      cursor: pointer;
      font-weight: 700;
      transition: background-color 0.1s ease-in;

      &:focus {
        background: #e8eaef;
      }
      &:hover {
        background: #e8eaef;
      }
    }

    .form-move-arrows {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .form-field-delete-icon {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .biodata-form-buttons-wrpper {
      display: flex;
      column-gap: 32px;
      justify-content: flex-end;
      margin-bottom: 32px;
      > button {
        width: 320px;
      }
    }
  }
  .biodata-profile-picture-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 8rem;
    position: sticky;
    width: 280px;
    height: 400px;
    border-radius: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #e8eaef;
    background-color: #e8eaef;
    @media screen and (max-width: 480px) {
      display: none;
    }
    cursor: pointer;
    > p {
      width: 240px;
      margin-top: 1rem;
      line-height: 1.5rem;
      margin-bottom: 0.8rem;
      text-align: center;
      font-weight: 500;
      color: rgb(100, 114, 140);
    }
    .close-btn {
      position: absolute;
      top: -4px;
      right: -4px;
      background-color: rgba(111, 9, 9, 0.8);
      color: white;
      border: none;
      font-size: 8px;
      cursor: pointer;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      // line-height: 25px;
      text-align: center;
      transition: background-color 0.3s ease;
      z-index: 1; /* Ensures the button stays above the image */
    }
    .replace-photo-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 4px;
      position: absolute;
      top: 8px;
      left: 8px;
      background-color: rgba(0, 0, 0, 0.5);
      // opacity: 0.4;
      color: white;
      border: none;
      font-size: 12px;
      font-weight: 600;
      cursor: pointer;
      width: 140px;
      height: 36px;
      border-radius: 10px;
      // line-height: 25px;
      text-align: center;
      transition: background-color 0.3s ease;
      z-index: 1; /* Ensures the button stays above the image */
    }

    .close-btn:hover {
      background-color: maroon;
    }
  }
}

.blinking-dot {
  height: 10px;
  width: 10px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
