.image-crop-modal-wrapper {
  position: absolute;
  background-color: rgba(
    107,
    114,
    128,
    0.5
  ); /* Equivalent to bg-gray-500 with bg-opacity-50 */
  height: 600px; /* Equivalent to h-full */
  width: 500px; /* Equivalent to w-full */
  display: flex; /* Equivalent to flex */
  justify-content: center; /* Equivalent to justify-center */
  align-items: center; /* Equivalent to items-center */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .image-crop-modal-inner-wrapper {
    // width: 75%; /* Equivalent to w-9/12 */
    display: flex;
    flex-direction: column; /* Equivalent to flex-col */
    justify-content: center; /* Equivalent to justify-center */
    align-items: center; /* Equivalent to items-center (assuming center alignment) */
    .image-crop-modal-content-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: white; /* Equivalent to bg-white */
      text-align: center; /* Equivalent to text-center */
      width: 100%; /* Equivalent to w-full */
      height: 100%;
      .image-crop-modal-content {
        background-color: black; /* Equivalent to bg-red-600 */
        height: 389px; /* Equivalent to h-48 (48 * 0.25rem = 12rem) */
        width: 500px; /* Equivalent to w-full */
        position: relative; /* Equivalent to relative */
      }
      .image-crop-modal-buttons-wrapper {
        display: flex; /* Equivalent to flex */
        justify-content: center; /* Equivalent to justify-center */
        gap: 2.5rem; /* Equivalent to space-x-10 (10 * 0.25rem = 2.5rem) */
        padding-top: 0.5rem; /* Equivalent to py-2 (padding on top) */
        padding-bottom: 0.5rem; /* Equivalent to py-2 (padding on bottom) */
        height: 211px;
        .action-buttons-wrapper {
          align-items: flex-end;
          height: 24px;
          .cancel-btn {
            width: 80px;
            height: 24px;
          }
          .crop-btn {
            width: 80px;
            height: 24px;
          }
        }
      }
    }
  }
}
